---
import Layout from '../layouts/Brochure.astro'
---

<Layout title="About the festival" description="About the Devizes Daphne Oram Festival">
  <p>
    A new festival celebrating the life and work of Daphne Oram, a pioneering electronic musician,
    composer and instrument builder.
  </p>
</Layout>
